.title-wrapper{
    z-index: 100;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0;
    width: 100vw;
    height: 50px;
    box-shadow: 0 -5px 10px gray;
}
.title-logo{
    margin-left: 20px;
    height: 30px;
}
.title-search-input{
    margin-left: 50px;
}
.title-action{
    display: flex;
    font-size: 14px;
}
.title-login{
    cursor: pointer;
    margin-right: 5px;
    background:#7cb0a7;
    color: white;
    padding: 4px 12px;
    border-radius: 20px;
}
.title-sign{
    cursor: pointer;
    margin-right: 10px;
    color: #606060;
    padding: 4px 12px;
    border-radius: 20px;
}

.user-avatar {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.user-avatar img {
    width: 100%;
    height: 100%;
}

.user-nickname {
    border: none;
    font-size: 20px;
    line-height: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
  }
  
  .overlay > * {
    pointer-events: auto;
  }
  
  .user-nickname-button {
    margin-right: 15px;
  }