:where(.css-dev-only-do-not-override-1fviqcj).ant-row {
    justify-content: center;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-form-item {
    margin-bottom: 25px;
}
.login-form{
    padding-top: 20px;
    position: relative;
    left: calc(50% - 250px);
    width: 500px;
}
.login-form-label{
    box-sizing: border-box;
}
.login-form-button:hover{
    opacity: 0.9;
}

.login-form-button {
    transition: opacity 0.3s;
    cursor: pointer;
    color: white;
    text-align: center;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    background-color: #1677ff;
    font-size: 18px;
    margin-bottom: 10px;
}
.sign-form-button:hover{
    border: #1677ff solid 1px;
}
.sign-form-button{
    border: lightgray solid 1px;
    transition: border 0.3s;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.background {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff; 
    border-radius: 15px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    padding: 50px; 
}

.closebutton {
    position: absolute;
    right: 4%;
    top: 5%;
    width: 30px;
}
