:where(.css-dev-only-do-not-override-1fviqcj).ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
    display: none!important;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-form-item .ant-form-item-label >label {
    font-size: 18px;
}

:where(.css-dev-only-do-not-override-1fviqcj).ant-form-item {
    margin-bottom: 42px;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-btn.ant-btn-lg {
    height: 50px;
    width: 180px;
    margin-left: 50px;
}
:where(.css-dev-only-do-not-override-1fviqcj).ant-btn-primary {
    background-color: #1677ff;
}

